

@media screen and (min-width: 394px) {

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 105rem;
    height: 5rem;
    background-color: #152237;
    color: white;
    font-size: 0.938rem;
}

.menu-burger {
    display: none;
}

.searchbar {
    height: 2.3rem;
    width: 29.8125rem;
    margin-right: 5rem;
    background-color: #152237;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 0.375rem;
    color: #FFFFFF;
}

.search-icon {
    width: 0.9375rem;
    height: 1rem;
}

.searchbar::placeholder {
    color: #FFFFFF;
    padding-left: 1.25rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.logo-nav {
    width: 5.25rem;
    height: auto;
}

.nav-bar button {
    height: 2.5rem;
    width: 8.125rem;
    border: none;
    border-radius: 0.375rem;
    margin-right: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.recherche {
    position: relative;
    display: inline-block;
}

.search-icon {
    position: absolute;
    right: 5.8rem;
    top: 0.6rem;
    width: 0.9375rem;
    height: 1rem;
}

.texte-nav {
    margin-left: 3rem;
    font-size: 0.9375rem;
}

.logo-nav {
    padding-left: 6.125rem;
}

.inscription {
    background: linear-gradient(to right,rgba(68, 221, 138, 1)
    , rgba(21, 183, 226, 1));
}

.boutons {
    padding-right: 6.25rem;
    display: block;
}

.bontons::placeholder {
    font-weight: 500;
}

/* BARRE DE NAVIGATION ^^^ */

.acceuil {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(to right,rgba(68, 221, 138, 0.9), rgba(21, 183, 226, 0.7)), url('Asset/img/bg-header.png');
    color: #ffffff;
    height: 28.1875rem;
    width: 105rem;
    color: rgba(21, 34, 55, 1);
    background-size: cover;
    text-transform: uppercase;
}

.acceuil h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-top: 9.4375rem;
    margin-bottom: 0;
}

.acceuil h2 {
    margin-top: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1.375rem;
}

.acceuil button {
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 0.375rem;
    height: 2.5rem;
    width: 8.125rem;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.9375rem;
    margin-top: 0;
}

/* Bandeau principal ^^^^^^^ */

.formations-populaires {
    width: 105rem;
    height: 39.5rem;
}

.grille-formation {
    display: flex;
    flex-direction: row;
    gap: 5.625rem;
    justify-content: center;
}

.etoile-transparente {
    opacity: 0.3;
}
/* Infos principales pour les formations ^^^^^^^ */

.titre-formations1 {
    width: 33rem;
    height: 4.5rem;
    margin-left: 6.0625rem;
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 2.25rem;
    color: #152237;
    margin-top: 0rem;
    margin-bottom: 0;
    padding-top: 1.875rem;
}

.formation {
    justify-content: center;
    color: #152237;
}

.bloc-prix {
    position: relative;
    width: 19.0625rem;
    height: 12.875rem;
    background-color: #44DD8A;
    margin-top: 2.125rem;
    margin-bottom: 1.3125rem;
}

.price-tag {
    width: 7.5rem;
    height: 1.9737rem;
    border-radius: 0.5rem;
    background: #152237;
    color: white;
    font-weight: 700;
    border: none;
    width: 120;
    border-radius: 93px;
    box-shadow: 5px 4px 13.2px -1px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.015em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4375rem;
    position: absolute;
    left: 10.875rem;
    margin-top: 11.875rem;
    padding-left: .1875rem;
    padding-top: .0625rem;
}

.old-price {
    font-weight: 400;
    font-size: 10px;
    line-height: 7px;
    letter-spacing: -0.015em;
    text-decoration: line-through;
    width: 1.4375rem;
    height: .4375rem;
    white-space: nowrap;
}

.bloc-prix2 {
    position: relative;
    width: 19.0625rem;
    height: 12.875rem;
    background-color: #44DD8A;
    margin-top: 2.125rem;
    margin-bottom: 1.3125rem;
}

.bloc-prix2 .price-tag  {
    background-color: white;
    color: black;
}

.bloc-prix2
 .old-price {
    color: black;
}

.mini-info {
    margin-left: 0.875rem;
}

.mini-info-titre {
    font-weight: 700;
    font-size: 1.5rem;
}

.mini-info-titre,
.nom-prenom {
    margin: 0;
}

.nom-prenom {
    margin-top: 0.6875rem;
    font-size: 1rem;
}

.etoile-formation {
    width: 9.375rem;
    height: 1.2rem;
    margin-top: .3125rem;
}

.etoile-formation img {
    width: 1.25rem;
    height: 1.25rem;
}

.description-formation {
    margin-top: 0.625rem;
    font-size: 1rem;
    margin-bottom: 0;
}


.voir-plus-formation {
    background-color: #152237;
    border-style: solid;
    color: white;
    border-radius: 0.375rem;
    height: 2.5rem;
    width: 14.0625rem;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.9375rem;
    margin-top: 3.375rem;
    margin: 2rem auto 0;
    display: block; 
}

/* */

.voir-plus-formation2 {
    background-color: white;
    border-style: solid;
    color: black;
    border-radius: 0.375rem;
    height: 2.5rem;
    width: 14.0625rem;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.9375rem;
    margin-top: 3.375rem;
    margin: 2rem auto 0;
    display: block; 
}

.formations-recentes {
    width: 105rem;
    height: 39.5rem;
    background-color: #152237;
}

.formations-recentes .voir-plus-formation2 {
    color: #152237;
}

.formations-recentes * {
  color: white;
}

.titre-formations2 {
    width: 33rem;
    height: 4.5rem;
    margin-left: 6.0625rem;
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 2.25rem;
    color: white;
    margin-top: 0rem;
    margin-bottom: 0;
    padding-top: 1.875rem;
}

.formations-recentes .formation4 {
    margin-left: 5.125rem;
}

/* */
.etoile-avis {
    width: 9.375rem;
    height: 1.2rem;
    margin-top: .4375rem;
}

.etoile-avis img {
    width: 1.25rem;
    height: 1.25rem;
}



.avis-clients {
    width: 105rem;
    height: 37.3125rem;
}

.avis-container {
    justify-content: center;
    display:flex;
    flex-direction: row;
    gap: 1.5rem;
}

.titre-client {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: rgba(21, 34, 55, 1);
    background-size: cover;
    text-transform: uppercase;
    padding-top: 3.625rem;
    font-weight: 900;
    font-size: 2.5rem;
}

.avis {
    padding-top: 3.5rem;
    justify-content: center;
    width: 43.0625rem;
    height: 19.125rem;
}

.image-client {
    border-radius: 50%;
}

.avis-clients h3 {
    margin-left: .1875rem;
    width: 42.875rem;
    height: 2.25rem;
    display: flex;
    align-items: center;
}

.avis-clients .etoile-formation {
    margin-left: .125rem;
}

.avis-clients p {
    margin-left: .1875rem;
    width: 42.875rem;
    height: 5.625rem;
    margin-top: .8625rem;
    font-weight: 400;
    font-size: 1rem;
    text-align: left;
    line-height: 1.875rem;
    letter-spacing: -0.015em;
}

/* */

.description {
    background-color: #F5F5F5;
    width: 105rem;
    height: 40.0625rem;
}

.description h2 {
    color: rgba(21, 34, 55, 1);
    font-size: 2.5rem;
    width: 42.875rem;
    height: 2.9375rem;
    text-transform: uppercase;
    padding-top: 4.9375rem;
    margin-left: 6.125rem;
    font-weight: 900;
}

.container-description {
    display:flex;
    flex-direction: row;
}

.icones {
    display: flex;
    flex-direction: column;
    gap: .9375rem;
    height: 1.875rem;
    width: 1.875rem;
    margin-top: 2.6875rem;
    margin-left: 6.125rem;
}

.col {
    display: flex;
    flex-direction: column;
    margin-top: 2.6875rem;
    width: 38.5rem;
    height: 18.4375rem;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.015em;
    gap: .9375rem;
    letter-spacing: -0.015em;
    margin-left: 2.1875rem;
}

#téléchargement-mobile {
    display: none;
}

#échange-mobile {
    display: none;
}

#Suivi-mobile {
    display: none;
}

.img-contexte-mobile {
    display: none;
}

.img-contexte-pc {
    width: 45.4375rem;
    height: 29.5rem;
    margin-left: 4.4375rem;
    margin-top: -2.9375rem;
}

/* */

.description2 {
    background-color: #44DD8A;
    width: 105rem;
    height: 40.0625rem;
}

#titre-creation-mobile {
        display: none;
}

.description2 h2 {
    color: rgba(21, 34, 55, 1);
    font-size: 2.5rem;
    width: 600px;
    height: 5.8125rem;
    text-transform: uppercase;
    padding-top: 4.9375rem;
    margin-left: 57rem;
    font-weight: 900;
}

.img-contexte2-pc {
    margin-left: 6.3125rem;
    margin-top: -5.8125rem;
}

.img-contexte2-mobile {
    display: none;
}

.col2 {
    display: flex;
    flex-direction: column;
    width: 38.5rem;
    height: 18.4375rem;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    gap: 1.14rem;
    letter-spacing: -0.015em;
    margin-left: 2.1875rem;
}

.icones2 {
    display: flex;
    flex-direction: column;
    height: 1.875rem;
    width: 1.875rem;
}

.container-description2 {
    display:flex;
    flex-direction: row;
}

.icones2 {
    margin-top: 2.5938rem;
    margin-left: 4.875rem;
}

.col2 {
    margin-top: 2.5938rem;
}

.icon1 {
    margin-bottom: .9375rem;
}

.icon2 {
    margin-bottom: 1.1875rem;
}

.icon3 {
    margin-bottom: .9375rem;
}

.icon4 {
    margin-bottom: 8.0625rem;
}

.about {
    background-color: #F5F5F5;
    width: 105rem;
    height: 46.25rem;
    display: flex;
}

.about-container {
    height: 46.25rem;
    width: 53.125rem;
}

.about-container h2 {
    width: 42.875rem;
    height: 2.25rem;
    padding-top: 11.5rem;
    padding-left: 6.4375rem;
    font-weight: 900;
    font-size: 2.5rem;
}

.about-container p {
    width: 42.875rem;
    height: 18.4375rem;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-top: 2.5625rem;
    margin-left: 6.4375rem;
    letter-spacing: -0.015em;
}

.img-side {
    background-color: #152237;
    width: 51.875rem;
    height: 46.25rem;
}

.img-side img {
    width: 26.875rem;
    height: 9.6875rem;
    margin-top: 18.25rem;
    margin-left: 12.5rem;
}

.contact {
    width: 105rem;
    height: 41.4375rem;
}

.ligne {
    width: 21.875rem;
    height: 0rem;
    border: .0625rem solid #44DD8A;
    margin-top: 2.4375rem;
    margin-left: 41.5625rem;
}

.contact h2 {
    width: auto;
    height: 2.25rem;
    color: rgba(21, 34, 55, 1);
    font-weight: 900;
    font-style: Black;
    font-size: 40px;
    line-height: 36px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    padding-top: 3.75rem;
    margin-left: 40.25rem;
}

.nom {
    width: 37.4375rem;
    height: 2.8283rem;
    border: none;
    background-color: #152237;
    margin-left: 10.75rem;
}

.nom::placeholder {
    color: white;
    width: 37.691rem;
    height: 1.6988rem;
    padding-left: 1.125rem;
    font-size: .9375rem;
}

.email::placeholder {
    color: white;
    width: 16.893rem;
    height: 1.6988rem;
    padding-left: 1.0606rem;
    font-size: .9375rem;
}

.email {
    width: 37.4221rem;
    height: 2.8313rem;
    border: none;
    background-color: #152237;
}

.formulaire {
    display: flex;
    gap: 8.625rem;
    margin-top: 3.4375rem;
}

.message {
    resize: none;
    width: 83.4949rem;
    height: 12.1649rem;
    margin-left: 10.75rem;
    border: none;
    background-color: #152237;
    margin-top: 3.4844rem;
}

.message-container {
    display: flex;
}

.message::placeholder {
    color: white;
    font-size: .9375rem;
    width: 37.691rem;
    height: 7.299rem;
    padding-left: 1.0469rem;
    padding-top: .965rem;
}

.contact button {
    border: none;
    border-radius: .375rem;
    background-color: #44DD8A;
    width: 21.9723rem;
    height: 2.8313rem;
    margin-left: 41.5269rem;
    margin-top: 3.415rem;
}

.contact button::placeholder {
    width: 16.5638rem;
    height: 1.2741rem;
    font-weight: 500;
}

footer {
    width: 105rem;
    height: 30.5625rem;
    background-color: #152237;
}

footer .bar {
    width: 105rem;
    height: 1.125rem;
    background: linear-gradient(to right,rgba(68, 221, 138, 1), rgba(21, 183, 226, 1));
}

.logo-footer {
    width: 15.1875rem;
    height: 5.4375rem;
    margin-top: 5.6875rem;
    margin-left: 6rem;
}

.top {
    display: flex;
}

.legal {
    color: white;
    margin-left: 18rem;
    margin-top: 6.375rem;
}

.legal h2 {
    width: 10.8125rem;
    height: 1.5rem;
    font-size: .9375rem;
    font-weight: 700;
    align-items: center;
    display: flex;
}

.legal-info {
    width: 10.8125rem;
    height: 5.9375rem;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.015em;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    line-height: 1.5rem;
}

.coord h2 {
    align-items: center;
    display: flex;
    width: 10.8125rem;
    height: 1.5rem;
    color: white;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.015em;
}

.coord {
    margin-left: 4.0625rem;
    margin-top: 6.375rem;
    width: 12rem;
    height: 9rem;
}

.coord img {
    display: flex;
    flex-direction: column;
}

#epingle {
    margin-top: 1rem;
    height: 1.5rem;
    width: 1.5rem;
}

#telephone {
    margin-top: 1.4375rem;
    height: 1.5rem;
    width: 1.5rem;
}

#email {
    margin-top: .5625rem;
    height: 1.5rem;
    width: 1.5rem;
}

.coord-info {
    color: white;
    font-weight: 400;
    font-size: .9375rem;
    line-height: 1.5rem;
    letter-spacing: -0.015em;
    width: 12.5rem;
    height: 5.9375rem;
    margin-top: 1rem;
    margin-left: 1.1875rem;
}

.container-coord {
    display: flex;
}

#numero {
    margin-bottom: .375rem;
}

.btn-footer {
    display: flex;
    flex-direction: column;
}

.btn-footer button {
    font-family: Montserrat;
    font-weight: 500;
    font-size: .9375rem;
    letter-spacing: -0.015em;
    text-align: center;
    vertical-align: middle;
    margin-left: 24.4375rem;
}

.footer-connexion { 
    margin-top: 6.375rem;
    margin-bottom: .75rem;
}

.btn-footer button {
    border: none;
    width: 8.125rem;
    height: 2.5rem;
    border-radius: .375rem;
}

.footer-inscription {
    background: linear-gradient(95.98deg, #44DD8A 8.7%, #15B7E2 100%);
}

.trait {
    width: 92.625rem;
    height: 0rem;
    border: .0625rem solid #44DD8A;
    margin-top: 2rem;
    margin-left: 6rem;
}

.bottom {
    display: flex;
}

#copyright {
    color: white;
    font-family: Montserrat;
    font-weight: 400;
    font-size: .9375rem;
    line-height: 1.5rem;
    letter-spacing: -0.015em;
    width: 18.8125rem;
    height: 1.5rem;
    margin-top: 1.5625rem;
    margin-left: 6rem;
}

.reseaux-sociaux {
    width: 18.5625rem;
    height: 1.875rem;
    display: flex;
    align-items: center;
    margin-left: 55.25rem;
    margin-top: 2.375rem;
}

.reseaux-sociaux p {
    color: white;
    font-family: Montserrat;
    font-weight: 400;
    font-size: .9375rem;
    line-height: 24px;
    letter-spacing: -0.015em;
    text-align: right;
    width: 6rem;
    height: 1.5rem;
}

.reseaux-sociaux img {
    width: 1.875rem;
    height: 1.875rem;
}

#facebook {
    margin-left: 1.5rem;
}

#x {
    margin-left: 1.3125rem;
}

#instagram {
    margin-left: 1.3125rem;
}

#likedin {
    margin-left: .9375rem;
}

}