

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 4.5rem;
    background-color: #152237;
    color: white;
    font-size: 0.938rem;
}

.searchbar {
    height: 2.3rem;
    width: 29.8125rem;
    margin-right: 5rem;
    background-color: #152237;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 0.375rem;
    color: #FFFFFF;
}

.search-icon {
    width: 0.9375rem;
    height: 1rem;
}

.searchbar::placeholder {
    color: #FFFFFF;
    padding-left: 1.25rem;
    font-family: "Montserrat", sans-serif;
}

.logo-nav {
    width: 5.25rem;
    height: auto;
}


.nav-bar button {
    height: 2.5rem;
    width: 8.125rem;
    border: none;
    border-radius: 0.375rem;
    margin-right: 1rem;
    font-family: "Montserrat", sans-serif;
}

.recherche {
    position: relative;
    display: inline-block;
}

.search-icon {
    position: absolute;
    right: 5.8rem;
    top: 0.6rem;
    width: 0.9375rem;
    height: 1rem;
}

.texte-nav {
    margin-left: 3rem;
}

.inscription {
    background: linear-gradient(to right,rgba(68, 221, 138, 1), rgba(21, 183, 226, 1));
}

.logo-nav {
    padding-left: 6.125rem;
}

.boutons {
    padding-right: 6.25rem;
    display: block;
}

/* BARRE DE NAVIGATION ^^^ */

.progression {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right,rgba(68, 221, 138, 0.7), rgba(21, 183, 226, 0.7)), url('Asset/img/bg-header.png');
    color: #ffffff;
    height: 28.125rem;
    width: 100%;
    color: rgba(21, 34, 55, 1);
    background-size: cover;
    text-transform: uppercase;
}

.progression h1 {
    font-size: 3rem;
    font-weight: 800;
}

.progression h2 {
    font-size: 1.25rem;
    font-weight: 500;
}

.progression h1,
.progression h2 {
    margin: 0.5rem;
}

.progression button {
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 0.375rem;
    height: 2.5rem;
    width: 8.125rem;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-top: 1rem;
}
